
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-img/hero-fon-mobile.jpg');
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and(min-width:320px) {
    .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-img/hero-fon-mobile@2x.jpg');
  }
} 
.hero .hero-title {
  margin-bottom: 30px;
}
.hero-title {
  font-family:var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  background-color:var(--accent-color);;
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero-conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 769px) {
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  url('../images/hero-img/hero-fon-tab.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and(min-width:769px) {
  .hero {
   background-image: linear-gradient(
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
      ),
    url('../images/hero-img/hero-fon-tab@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero-img/hero-fon-des.jpg');
  }
}
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and(min-width:1200px) {
.hero {
  background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero-img/hero-fon-des@2x.jpg');
    }
  }
