// /*================ logo decotration ==================*/

.footer-logo,
.logo-nav {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: #ffffff;
  margin-bottom:20px;
}
.logo-nav {
  color: var(--title-text-color);
}
.span-logo {
  color: var(--accent-color);
}
// /*================ end logo decotration ==================*/
