:root {
  --primaru-text-color: #757575;
  --svg-icon-color: #afb1b8;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
